{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <h1>Sell Stocks</h1>
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol">Stock:</label>
            <select id="symbol" name="symbol">
                {% for stock in held_stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Quantity" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}
